@model ProyectoFinalSW.Models.Consecutivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consecutivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangoInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangoInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangoFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangoFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
